{
  "adjust"               : "fa fa-adjust",
  "adn"                  : "fa fa-adn",
  "align-center"         : "fa fa-align-center",
  "align-justify"        : "fa fa-align-justify",
  "align-left"           : "fa fa-align-left",
  "align-right"          : "fa fa-align-right",
  "ambulance"            : "fa fa-ambulance",
  "anchor"               : "fa fa-anchor",
  "android"              : "fa fa-android",
  "angle-double-down"    : "fa fa-angle-double-down",
  "angle-double-left"    : "fa fa-angle-double-left",
  "angle-double-right"   : "fa fa-angle-double-right",
  "angle-double-up"      : "fa fa-angle-double-up",
  "angle-down"           : "fa fa-angle-down",
  "angle-left"           : "fa fa-angle-left",
  "angle-right"          : "fa fa-angle-right",
  "angle-up"             : "fa fa-angle-up",
  "apple"                : "fa fa-apple",
  "archive"              : "fa fa-archive",
  "arrow-circle-down"    : "fa fa-arrow-circle-down",
  "arrow-circle-left"    : "fa fa-arrow-circle-left",
  "arrow-circle-o-down"  : "fa fa-arrow-circle-o-down",
  "arrow-circle-o-left"  : "fa fa-arrow-circle-o-left",
  "arrow-circle-o-right" : "fa fa-arrow-circle-o-right",
  "arrow-circle-o-up"    : "fa fa-arrow-circle-o-up",
  "arrow-circle-right"   : "fa fa-arrow-circle-right",
  "arrow-circle-up"      : "fa fa-arrow-circle-up",
  "arrow-down"           : "fa fa-arrow-down",
  "arrow-left"           : "fa fa-arrow-left",
  "arrow-right"          : "fa fa-arrow-right",
  "arrow-up"             : "fa fa-arrow-up",
  "asterisk"             : "fa fa-asterisk",
  "backward"             : "fa fa-backward",
  "ban"                  : "fa fa-ban",
  "bar-chart-o"          : "fa fa-bar-chart-o",
  "barcode"              : "fa fa-barcode",
  "beer"                 : "fa fa-beer",
  "bell"                 : "fa fa-bell",
  "bell-o"               : "fa fa-bell-o",
  "bitbucket"            : "fa fa-bitbucket",
  "bitbucket-square"     : "fa fa-bitbucket-square",
  "bold"                 : "fa fa-bold",
  "bolt"                 : "fa fa-bolt",
  "book"                 : "fa fa-book",
  "bookmark"             : "fa fa-bookmark",
  "bookmark-o"           : "fa fa-bookmark-o",
  "briefcase"            : "fa fa-briefcase",
  "btc"                  : "fa fa-btc",
  "bug"                  : "fa fa-bug",
  "building"             : "fa fa-building",
  "bullhorn"             : "fa fa-bullhorn",
  "bullseye"             : "fa fa-bullseye",
  "calendar"             : "fa fa-calendar",
  "calendar-o"           : "fa fa-calendar-o",
  "camera"               : "fa fa-camera",
  "camera-retro"         : "fa fa-camera-retro",
  "caret-down"           : "fa fa-caret-down",
  "caret-left"           : "fa fa-caret-left",
  "caret-right"          : "fa fa-caret-right",
  "caret-square-o-down"  : "fa fa-caret-square-o-down",
  "caret-square-o-left"  : "fa fa-caret-square-o-left",
  "caret-square-o-right" : "fa fa-caret-square-o-right",
  "caret-square-o-up"    : "fa fa-caret-square-o-up",
  "caret-up"             : "fa fa-caret-up",
  "certificate"          : "fa fa-certificate",
  "chain-broken"         : "fa fa-chain-broken",
  "check"                : "fa fa-check",
  "check-circle"         : "fa fa-check-circle",
  "check-circle-o"       : "fa fa-check-circle-o",
  "check-square"         : "fa fa-check-square",
  "check-square-o"       : "fa fa-check-square-o",
  "chevron-circle-down"  : "fa fa-chevron-circle-down",
  "chevron-circle-left"  : "fa fa-chevron-circle-left",
  "chevron-circle-right" : "fa fa-chevron-circle-right",
  "chevron-circle-up"    : "fa fa-chevron-circle-up",
  "chevron-down"         : "fa fa-chevron-down",
  "chevron-left"         : "fa fa-chevron-left",
  "chevron-right"        : "fa fa-chevron-right",
  "chevron-up"           : "fa fa-chevron-up",
  "circle"               : "fa fa-circle",
  "circle-o"             : "fa fa-circle-o",
  "clipboard"            : "fa fa-clipboard",
  "clock-o"              : "fa fa-clock-o",
  "cloud"                : "fa fa-cloud",
  "cloud-download"       : "fa fa-cloud-download",
  "cloud-upload"         : "fa fa-cloud-upload",
  "code"                 : "fa fa-code",
  "code-fork"            : "fa fa-code-fork",
  "coffee"               : "fa fa-coffee",
  "cog"                  : "fa fa-cog",
  "cogs"                 : "fa fa-cogs",
  "collapse-o"           : "fa fa-collapse-o",
  "columns"              : "fa fa-columns",
  "comment"              : "fa fa-comment",
  "comment-o"            : "fa fa-comment-o",
  "comments"             : "fa fa-comments",
  "comments-o"           : "fa fa-comments-o",
  "compass"              : "fa fa-compass",
  "credit-card"          : "fa fa-credit-card",
  "crop"                 : "fa fa-crop",
  "crosshairs"           : "fa fa-crosshairs",
  "css3"                 : "fa fa-css3",
  "cutlery"              : "fa fa-cutlery",
  "desktop"              : "fa fa-desktop",
  "dot-circle-o"         : "fa fa-dot-circle-o",
  "download"             : "fa fa-download",
  "dribbble"             : "fa fa-dribbble",
  "dropbox"              : "fa fa-dropbox",
  "eject"                : "fa fa-eject",
  "ellipsis-horizontal"  : "fa fa-ellipsis-horizontal",
  "ellipsis-vertical"    : "fa fa-ellipsis-vertical",
  "envelope"             : "fa fa-envelope",
  "envelope-o"           : "fa fa-envelope-o",
  "eraser"               : "fa fa-eraser",
  "eur"                  : "fa fa-eur",
  "exchange"             : "fa fa-exchange",
  "exclamation"          : "fa fa-exclamation",
  "exclamation-circle"   : "fa fa-exclamation-circle",
  "exclamation-triangle" : "fa fa-exclamation-triangle",
  "expand-o"             : "fa fa-expand-o",
  "external-link"        : "fa fa-external-link",
  "external-link-square" : "fa fa-external-link-square",
  "eye"                  : "fa fa-eye",
  "eye-slash"            : "fa fa-eye-slash",
  "facebook"             : "fa fa-facebook",
  "facebook-square"      : "fa fa-facebook-square",
  "fast-backward"        : "fa fa-fast-backward",
  "fast-forward"         : "fa fa-fast-forward",
  "female"               : "fa fa-female",
  "fighter-jet"          : "fa fa-fighter-jet",
  "file"                 : "fa fa-file",
  "file-o"               : "fa fa-file-o",
  "file-text"            : "fa fa-file-text",
  "file-text-o"          : "fa fa-file-text-o",
  "files-o"              : "fa fa-files-o",
  "film"                 : "fa fa-film",
  "filter"               : "fa fa-filter",
  "fire"                 : "fa fa-fire",
  "fire-extinguisher"    : "fa fa-fire-extinguisher",
  "flag"                 : "fa fa-flag",
  "flag-checkered"       : "fa fa-flag-checkered",
  "flag-o"               : "fa fa-flag-o",
  "flask"                : "fa fa-flask",
  "flickr"               : "fa fa-flickr",
  "floppy-o"             : "fa fa-floppy-o",
  "folder"               : "fa fa-folder",
  "folder-o"             : "fa fa-folder-o",
  "folder-open"          : "fa fa-folder-open",
  "folder-open-o"        : "fa fa-folder-open-o",
  "font"                 : "fa fa-font",
  "forward"              : "fa fa-forward",
  "foursquare"           : "fa fa-foursquare",
  "frown-o"              : "fa fa-frown-o",
  "fullscreen"           : "fa fa-fullscreen",
  "gamepad"              : "fa fa-gamepad",
  "gavel"                : "fa fa-gavel",
  "gbp"                  : "fa fa-gbp",
  "gift"                 : "fa fa-gift",
  "github"               : "fa fa-github",
  "github-alt"           : "fa fa-github-alt",
  "github-square"        : "fa fa-github-square",
  "gittip"               : "fa fa-gittip",
  "glass"                : "fa fa-glass",
  "globe"                : "fa fa-globe",
  "google-plus"          : "fa fa-google-plus",
  "google-plus-square"   : "fa fa-google-plus-square",
  "group"                : "fa fa-group",
  "h-square"             : "fa fa-h-square",
  "hand-o-down"          : "fa fa-hand-o-down",
  "hand-o-left"          : "fa fa-hand-o-left",
  "hand-o-right"         : "fa fa-hand-o-right",
  "hand-o-up"            : "fa fa-hand-o-up",
  "hdd-o"                : "fa fa-hdd-o",
  "headphones"           : "fa fa-headphones",
  "heart"                : "fa fa-heart",
  "heart-o"              : "fa fa-heart-o",
  "home"                 : "fa fa-home",
  "hospital"             : "fa fa-hospital",
  "html5"                : "fa fa-html5",
  "inbox"                : "fa fa-inbox",
  "indent"               : "fa fa-indent",
  "info"                 : "fa fa-info",
  "info-circle"          : "fa fa-info-circle",
  "inr"                  : "fa fa-inr",
  "instagram"            : "fa fa-instagram",
  "italic"               : "fa fa-italic",
  "jpy"                  : "fa fa-jpy",
  "key"                  : "fa fa-key",
  "keyboard-o"           : "fa fa-keyboard-o",
  "krw"                  : "fa fa-krw",
  "laptop"               : "fa fa-laptop",
  "leaf"                 : "fa fa-leaf",
  "lemon-o"              : "fa fa-lemon-o",
  "level-down"           : "fa fa-level-down",
  "level-up"             : "fa fa-level-up",
  "lightbulb-o"          : "fa fa-lightbulb-o",
  "link"                 : "fa fa-link",
  "linkedin"             : "fa fa-linkedin",
  "linkedin-square"      : "fa fa-linkedin-square",
  "linux"                : "fa fa-linux",
  "list"                 : "fa fa-list",
  "list-alt"             : "fa fa-list-alt",
  "list-ol"              : "fa fa-list-ol",
  "list-ul"              : "fa fa-list-ul",
  "location-arrow"       : "fa fa-location-arrow",
  "lock"                 : "fa fa-lock",
  "long-arrow-down"      : "fa fa-long-arrow-down",
  "long-arrow-left"      : "fa fa-long-arrow-left",
  "long-arrow-right"     : "fa fa-long-arrow-right",
  "long-arrow-up"        : "fa fa-long-arrow-up",
  "magic"                : "fa fa-magic",
  "magnet"               : "fa fa-magnet",
  "mail-reply-all"       : "fa fa-mail-reply-all",
  "male"                 : "fa fa-male",
  "map-marker"           : "fa fa-map-marker",
  "maxcdn"               : "fa fa-maxcdn",
  "medkit"               : "fa fa-medkit",
  "meh-o"                : "fa fa-meh-o",
  "microphone"           : "fa fa-microphone",
  "microphone-slash"     : "fa fa-microphone-slash",
  "minus"                : "fa fa-minus",
  "minus-circle"         : "fa fa-minus-circle",
  "minus-square"         : "fa fa-minus-square",
  "minus-square-o"       : "fa fa-minus-square-o",
  "mobile"               : "fa fa-mobile",
  "money"                : "fa fa-money",
  "moon-o"               : "fa fa-moon-o",
  "move"                 : "fa fa-move",
  "music"                : "fa fa-music",
  "outdent"              : "fa fa-outdent",
  "pagelines"            : "fa fa-pagelines",
  "paperclip"            : "fa fa-paperclip",
  "pause"                : "fa fa-pause",
  "pencil"               : "fa fa-pencil",
  "pencil-square"        : "fa fa-pencil-square",
  "pencil-square-o"      : "fa fa-pencil-square-o",
  "phone"                : "fa fa-phone",
  "phone-square"         : "fa fa-phone-square",
  "picture-o"            : "fa fa-picture-o",
  "pinterest"            : "fa fa-pinterest",
  "pinterest-square"     : "fa fa-pinterest-square",
  "plane"                : "fa fa-plane",
  "play"                 : "fa fa-play",
  "play-circle"          : "fa fa-play-circle",
  "play-circle-o"        : "fa fa-play-circle-o",
  "plus"                 : "fa fa-plus",
  "plus-circle"          : "fa fa-plus-circle",
  "plus-square"          : "fa fa-plus-square",
  "power-off"            : "fa fa-power-off",
  "print"                : "fa fa-print",
  "puzzle-piece"         : "fa fa-puzzle-piece",
  "qrcode"               : "fa fa-qrcode",
  "question"             : "fa fa-question",
  "question-circle"      : "fa fa-question-circle",
  "quote-left"           : "fa fa-quote-left",
  "quote-right"          : "fa fa-quote-right",
  "random"               : "fa fa-random",
  "refresh"              : "fa fa-refresh",
  "renren"               : "fa fa-renren",
  "reorder"              : "fa fa-reorder",
  "repeat"               : "fa fa-repeat",
  "reply"                : "fa fa-reply",
  "reply-all"            : "fa fa-reply-all",
  "resize-full"          : "fa fa-resize-full",
  "resize-horizontal"    : "fa fa-resize-horizontal",
  "resize-small"         : "fa fa-resize-small",
  "resize-vertical"      : "fa fa-resize-vertical",
  "retweet"              : "fa fa-retweet",
  "road"                 : "fa fa-road",
  "rocket"               : "fa fa-rocket",
  "rss"                  : "fa fa-rss",
  "rss-square"           : "fa fa-rss-square",
  "rub"                  : "fa fa-rub",
  "scissors"             : "fa fa-scissors",
  "search"               : "fa fa-search",
  "search-minus"         : "fa fa-search-minus",
  "search-plus"          : "fa fa-search-plus",
  "share"                : "fa fa-share",
  "share-square"         : "fa fa-share-square",
  "share-square-o"       : "fa fa-share-square-o",
  "shield"               : "fa fa-shield",
  "shopping-cart"        : "fa fa-shopping-cart",
  "sign-in"              : "fa fa-sign-in",
  "sign-out"             : "fa fa-sign-out",
  "signal"               : "fa fa-signal",
  "sitemap"              : "fa fa-sitemap",
  "skype"                : "fa fa-skype",
  "smile-o"              : "fa fa-smile-o",
  "sort"                 : "fa fa-sort",
  "sort-alpha-asc"       : "fa fa-sort-alpha-asc",
  "sort-alpha-desc"      : "fa fa-sort-alpha-desc",
  "sort-amount-asc"      : "fa fa-sort-amount-asc",
  "sort-amount-desc"     : "fa fa-sort-amount-desc",
  "sort-asc"             : "fa fa-sort-asc",
  "sort-desc"            : "fa fa-sort-desc",
  "sort-numeric-asc"     : "fa fa-sort-numeric-asc",
  "sort-numeric-desc"    : "fa fa-sort-numeric-desc",
  "spinner"              : "fa fa-spinner",
  "square"               : "fa fa-square",
  "square-o"             : "fa fa-square-o",
  "stack-exchange"       : "fa fa-stack-exchange",
  "stack-overflow"       : "fa fa-stack-overflow",
  "star"                 : "fa fa-star",
  "star-half"            : "fa fa-star-half",
  "star-half-o"          : "fa fa-star-half-o",
  "star-o"               : "fa fa-star-o",
  "step-backward"        : "fa fa-step-backward",
  "step-forward"         : "fa fa-step-forward",
  "stethoscope"          : "fa fa-stethoscope",
  "stop"                 : "fa fa-stop",
  "strikethrough"        : "fa fa-strikethrough",
  "subscript"            : "fa fa-subscript",
  "suitcase"             : "fa fa-suitcase",
  "sun-o"                : "fa fa-sun-o",
  "superscript"          : "fa fa-superscript",
  "table"                : "fa fa-table",
  "tablet"               : "fa fa-tablet",
  "tachometer"           : "fa fa-tachometer",
  "tag"                  : "fa fa-tag",
  "tags"                 : "fa fa-tags",
  "tasks"                : "fa fa-tasks",
  "terminal"             : "fa fa-terminal",
  "text-height"          : "fa fa-text-height",
  "text-width"           : "fa fa-text-width",
  "th"                   : "fa fa-th",
  "th-large"             : "fa fa-th-large",
  "th-list"              : "fa fa-th-list",
  "thumb-tack"           : "fa fa-thumb-tack",
  "thumbs-down"          : "fa fa-thumbs-down",
  "thumbs-o-down"        : "fa fa-thumbs-o-down",
  "thumbs-o-up"          : "fa fa-thumbs-o-up",
  "thumbs-up"            : "fa fa-thumbs-up",
  "ticket"               : "fa fa-ticket",
  "times"                : "fa fa-times",
  "times-circle"         : "fa fa-times-circle",
  "times-circle-o"       : "fa fa-times-circle-o",
  "tint"                 : "fa fa-tint",
  "trash-o"              : "fa fa-trash-o",
  "trello"               : "fa fa-trello",
  "trophy"               : "fa fa-trophy",
  "truck"                : "fa fa-truck",
  "try"                  : "fa fa-try",
  "tumblr"               : "fa fa-tumblr",
  "tumblr-square"        : "fa fa-tumblr-square",
  "twitter"              : "fa fa-twitter",
  "twitter-square"       : "fa fa-twitter-square",
  "umbrella"             : "fa fa-umbrella",
  "underline"            : "fa fa-underline",
  "undo"                 : "fa fa-undo",
  "unlock"               : "fa fa-unlock",
  "unlock-o"             : "fa fa-unlock-o",
  "upload"               : "fa fa-upload",
  "usd"                  : "fa fa-usd",
  "user"                 : "fa fa-user",
  "user-md"              : "fa fa-user-md",
  "video-camera"         : "fa fa-video-camera",
  "vimeo-square"         : "fa fa-vimeo-square",
  "vk"                   : "fa fa-vk",
  "volume-down"          : "fa fa-volume-down",
  "volume-off"           : "fa fa-volume-off",
  "volume-up"            : "fa fa-volume-up",
  "weibo"                : "fa fa-weibo",
  "wheelchair"           : "fa fa-wheelchair",
  "windows"              : "fa fa-windows",
  "wrench"               : "fa fa-wrench",
  "xing"                 : "fa fa-xing",
  "xing-square"          : "fa fa-xing-square",
  "youtube"              : "fa fa-youtube",
  "youtube-play"         : "fa fa-youtube-play",
  "youtube-square"       : "fa fa-youtube-square"
}
