{

    twitter     : "socicon socicon-twitter"
    facebook    : "socicon socicon-facebook"
    google      : "socicon socicon-google"
    pinterest   : "socicon socicon-pinterest"
    foursquare  : "socicon socicon-foursquare"
    yahoo       : "socicon socicon-yahoo"
    skype       : "socicon socicon-skype"
    yelp        : "socicon socicon-yelp"
    feedburner  : "socicon socicon-feedburner"
    linkedin    : "socicon socicon-linkedin"
    viadeo      : "socicon socicon-viadeo"
    xing        : "socicon socicon-xing"
    myspace     : "socicon socicon-myspace"
    soundcloud  : "socicon socicon-soundcloud"
    spotify     : "socicon socicon-spotify"
    grooveshark : "socicon socicon-grooveshark"
    lastfm      : "socicon socicon-lastfm"
    youtube     : "socicon socicon-youtube"
    vimeo       : "socicon socicon-vimeo"
    dailymotion : "socicon socicon-dailymotion"
    vine        : "socicon socicon-vine"
    flickr      : "socicon socicon-flickr"
    "500px"     : "socicon socicon-500px"
    instagram   : "socicon socicon-instagram"
    wordpress   : "socicon socicon-wordpress"
    tumblr      : "socicon socicon-tumblr"
    blogger     : "socicon socicon-blogger"
    technorati  : "socicon socicon-technorati"
    reddit      : "socicon socicon-reddit"
    dribbble    : "socicon socicon-dribbble"
    stumbleupon : "socicon socicon-stumbleupon"
    digg        : "socicon socicon-digg"
    envato      : "socicon socicon-envato"
    behance     : "socicon socicon-behance"
    delicious   : "socicon socicon-delicious"
    deviantart  : "socicon socicon-deviantart"
    forrst      : "socicon socicon-forrst"
    play        : "socicon socicon-play"
    zerply      : "socicon socicon-zerply"
    wikipedia   : "socicon socicon-wikipedia"
    apple       : "socicon socicon-apple"
    flattr      : "socicon socicon-flattr"
    github      : "socicon socicon-github"
    chimein     : "socicon socicon-chimein"
    friendfeed  : "socicon socicon-friendfeed"
    newsvine    : "socicon socicon-newsvine"
    identica    : "socicon socicon-identica"
    bebo        : "socicon socicon-bebo"
    zynga       : "socicon socicon-zynga"
    steam       : "socicon socicon-steam"
    xbox        : "socicon socicon-xbox"
    windows     : "socicon socicon-windows"
    outlook     : "socicon socicon-outlook"
    coderwall   : "socicon socicon-coderwall"
    tripadvisor : "socicon socicon-tripadvisor"
    netcodes    : "socicon socicon-netcodes"
    easid       : "socicon socicon-easid"
    lanyrd      : "socicon socicon-lanyrd"
    slideshare  : "socicon socicon-slideshare"
    buffer      : "socicon socicon-buffer"
    rss         : "socicon socicon-rss"
    vkontakte   : "socicon socicon-vkontakte"
    disqus      : "socicon socicon-disqus"

}
