{{h3 "Canvas"}}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, a, sapiente, iusto, temporibus nostrum iste dolor iure numquam eligendi ipsa quo velit harum reiciendis libero atque id reprehenderit sit aspernatur.</p>
<div class="panel panel-default">
  <div class="panel-body">
    {{#styleguide "Canvas Element" '
<div class="tback">
  <canvas id="pixie"></canvas>
</div>

    '}}{{.}}{{/styleguide}}
  </div>
</div>