{{#prettify}}
<!DOCTYPE html>
<html lang="en">
<head>
  {{> _head }}
</head>
<body{{#is scrollspy}} data-spy="scroll" data-target="#bsSidebar"{{/is}}>
  {{> _header}}
  {{> body}}
  {{> _foot }}
</body>
</html>
{{/prettify}}