{
  # Core files setup for production process. Use this section for configuration

  bootstrapJS:
    src: [
      "<%= dir.jsboot %>/transition.js"
      "<%= dir.jsboot %>/alert.js"
      "<%= dir.jsboot %>/button.js"
      "<%= dir.jsboot %>/carousel.js"
      "<%= dir.jsboot %>/collapse.js"
      "<%= dir.jsboot %>/dropdown.js"
      "<%= dir.jsboot %>/modal.js"
      "<%= dir.jsboot %>/tooltip.js"
      "<%= dir.jsboot %>/popover.js"
      "<%= dir.jsboot %>/scrollspy.js"
      "<%= dir.jsboot %>/tab.js"
      "<%= dir.jsboot %>/affix.js"
    ]
  bootstrapCSS:
    src: [
      "<%= dir.css %>/_bs-core.css"
      "<%= dir.css %>/_bs-common.css"
      "<%= dir.css %>/_bs-misc.css"
      "<%= dir.css %>/_bs-nav.css"
      "<%= dir.css %>/_bs-zindex.css"
      "<%= dir.css %>/_bs-utils.css"
    ]
}
