{
  # Development variables
  verbose: false
  helium: false
  htmlInspector: false
  styleguide: true
  holder: true
  viewport: true

  # Production variables
  jQueryCDN: false
  modernizr: true

  # Anchor links in headings
  automatic_anchors_in_headings: false
  automatic_anchors_for_toc: false
}