{
  # Grunt options. Settings for my custom environment. YMMV. Set accordingly.
  rsync:
    stage:
      dest: '/Users/keeda/Sites/http/root.dev'
      host: 'keeda@odysseus'

    dist:
      dest: '/Volumes/BigStor/Users/keeda/Sites/http/root.dev'
      host: 'keeda@agamemnon'

    local:
      dest: '/Volumes/BigStor/Users/keeda/Sites/http/root.dev'

  open:
    test:
      path: 'http://agamemnon.local'
    stage:
      path: 'http://odysseus.local'
    local:
      path: 'http://kronos.local'
}
