{
  # Directory Routing Assistance --------------------------------------------------
  root       : '.'
  app        : 'app'
  # Build directories
  build      : 'build/dev'
  dist       : 'build/dist'
  stage      : 'build/stage'
  # Root level filesystem
  bower      : 'packs'
  tmp        : 'temp'
  proj       : 'temp'
  grunt      : 'grunt'
  test       : 'test'
  node       : 'node_modules'
  # Application filesystem
  assemble   : '<%= dir.app %>/assemble'
  static     : '<%= dir.app %>/assets'
  scripts    : '<%= dir.app %>/scripts'
  styles     : '<%= dir.app %>/styles'
  # Application processing
  coffee     : '<%= dir.scripts %>/coffee'
  js         : '<%= dir.scripts %>/js'
  jsdev      : '<%= dir.js %>/development'
  jsprod     : '<%= dir.js %>/production'
  jquery     : '<%= dir.jsprod %>/jquery'
  jsviews    : '<%= dir.jsprod %>/views'
  jsvendor   : '<%= dir.jsviews %>/vendor'
  jsboot     : '<%= dir.jquery %>/bootstrap'
  jsplugins  : '<%= dir.jquery %>/plugins'
  css        : '<%= dir.styles %>/css'
  less       : '<%= dir.styles %>/less'
  font       : '<%= dir.static %>/fonts'
  img        : '<%= dir.static %>/img'
  pdf        : '<%= dir.static %>/pdf'
  data       : '<%= dir.static %>/data'
  favicon    : '<%= dir.static %>/ico'
  php        : '<%= dir.static %>/php'
  # Configuration Files
  config     : '<%= dir.assemble %>/config'
  json       : '<%= dir.config %>/json'
  cson       : '<%= dir.config %>/cson'
  yaml       : '<%= dir.config %>'
  # Assemble Options
  assets     : '<%= dir.build %>/assets'
  helpers    : '<%= dir.assemble %>/extensions/helpers'
  plugins    : '<%= dir.assemble %>/extensions/plugins'
  modules    : '<%= dir.assemble %>/modules'
  includes   : '<%= dir.assemble %>/includes'
  templates  : '<%= dir.assemble %>/templates'
  layouts    : '<%= dir.includes %>/_layouts'
  sections   : '<%= dir.includes %>/_sections'
  partials   : '<%= dir.includes %>/partials'
  base       : '<%= dir.partials %>/base'
  blocks     : '<%= dir.partials %>/blocks'
  bricks     : '<%= dir.partials %>/bricks'
  # Assemble Core Files
  admin      : '<%= dir.templates %>/admin'
  error      : '<%= dir.admin %>/error'
  site       : '<%= dir.admin %>/site'
  sitemap    : '<%= dir.admin %>/sitemap'
  markdown   : '<%= dir.modules %>/content/markdown'
  blog       : '<%= dir.templates %>/blog'
  styleguide : '<%= dir.templates %>/styleguide'
  views      : '<%= dir.templates %>/views'
  articles   : '<%= dir.views %>/articles'
  docs       : '<%= dir.views %>/docs'
  # Misc
  readme     : '<%= dir.tmp %>/readme'

  # Core Bootstrap files setup for production process. Use this section for configuration

  bootstrapJS:
    src: [
      "<%= dir.jsboot %>/transition.js"
      "<%= dir.jsboot %>/alert.js"
      "<%= dir.jsboot %>/button.js"
      "<%= dir.jsboot %>/carousel.js"
      "<%= dir.jsboot %>/collapse.js"
      "<%= dir.jsboot %>/dropdown.js"
      "<%= dir.jsboot %>/modal.js"
      "<%= dir.jsboot %>/tooltip.js"
      "<%= dir.jsboot %>/popover.js"
      "<%= dir.jsboot %>/scrollspy.js"
      "<%= dir.jsboot %>/tab.js"
      "<%= dir.jsboot %>/affix.js"
    ]
  bootstrapCSS:
    src: [
      "<%= dir.css %>/_bs-core.css"
      "<%= dir.css %>/_bs-common.css"
      "<%= dir.css %>/_bs-misc.css"
      "<%= dir.css %>/_bs-nav.css"
      "<%= dir.css %>/_bs-zindex.css"
      "<%= dir.css %>/_bs-utils.css"
    ]

  # Grunt options. Settings for my custom environment. YMMV. Set accordingly.
  rsync:
    stage:
      dest: '/Users/keeda/Sites/http/root.dev'
      host: 'keeda@odysseus'

    dist:
      dest: '/Volumes/BigStor/Users/keeda/Sites/http/root.dev'
      host: 'keeda@agamemnon'

    local:
      dest: '/Volumes/BigStor/Users/keeda/Sites/http/root.dev'

  open:
    test:
      path: 'http://agamemnon.local'
    stage:
      path: 'http://odysseus.local'
    local:
      path: 'http://kronos.local'

}
