{
  # Directory Routing Assistance --------------------------------------------------
  root       : '.'
  app        : 'app'
  # Build directories
  build      : 'build/dev'
  dist       : 'build/dist'
  stage      : 'build/stage'
  # Root level filesystem
  bower      : 'packs'
  tmp        : 'temp'
  proj       : 'temp'
  grunt      : 'grunt'
  test       : 'test'
  node       : 'node_modules'
  # Application filesystem
  assemble   : '<%= dir.app %>/assemble'
  static     : '<%= dir.app %>/assets'
  scripts    : '<%= dir.app %>/scripts'
  styles     : '<%= dir.app %>/styles'
  # Application processing
  coffee     : '<%= dir.scripts %>/coffee'
  js         : '<%= dir.scripts %>/js'
  jsdev      : '<%= dir.js %>/development'
  jsprod     : '<%= dir.js %>/production'
  jquery     : '<%= dir.jsprod %>/jquery'
  jsviews    : '<%= dir.jsprod %>/views'
  jsvendor   : '<%= dir.jsviews %>/vendor'
  jsboot     : '<%= dir.jquery %>/bootstrap'
  jsplugins  : '<%= dir.jquery %>/plugins'
  css        : '<%= dir.styles %>/css'
  less       : '<%= dir.styles %>/less'
  font       : '<%= dir.static %>/fonts'
  img        : '<%= dir.static %>/img'
  pdf        : '<%= dir.static %>/pdf'
  data       : '<%= dir.static %>/data'
  favicon    : '<%= dir.static %>/ico'
  php        : '<%= dir.static %>/php'
  # Configuration Files
  config     : '<%= dir.assemble %>/config'
  json       : '<%= dir.config %>/json'
  cson       : '<%= dir.config %>/cson'
  yaml       : '<%= dir.config %>'
  # Assemble Options
  assets     : '<%= dir.build %>/assets'
  helpers    : '<%= dir.assemble %>/extensions/helpers'
  plugins    : '<%= dir.assemble %>/extensions/plugins'
  modules    : '<%= dir.assemble %>/modules'
  partials   : '<%= dir.assemble %>/includes'
  templates  : '<%= dir.assemble %>/templates'
  layouts    : '<%= dir.partials %>/_layouts'
  sections   : '<%= dir.partials %>/_sections'
  base       : '<%= dir.partials %>/base'
  blocks     : '<%= dir.partials %>/blocks'
  bricks     : '<%= dir.partials %>/bricks'
  # Assemble Core Files
  admin      : '<%= dir.templates %>/admin'
  error      : '<%= dir.admin %>/error'
  styleguide : '<%= dir.admin %>/styleguide'
  site       : '<%= dir.admin %>/site'
  sitemap    : '<%= dir.admin %>/sitemap'
  markdown   : '<%= dir.modules %>/content/markdown'
  blog       : '<%= dir.templates %>/blog'
  views      : '<%= dir.templates %>/views'
  articles   : '<%= dir.views %>/articles'
  docs       : '<%= dir.views %>/docs'
  # Misc
  readme     : '<%= dir.tmp %>/readme'

}
